<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Electron app</title>
  </head>
  <body style="margin: 0; -webkit-app-region: drag">
    <div id="root"></div>
  </body>
</html>
